git-CI-CD.sh
test-CI-CD.sh
build-CI-CD.sh
*.env
/.vscode
/logs
/badger
badger/*
node_modules/
server/node_modules/
client/node_modules/
dist/
build/
.DS_Store
*.sum
astbuy
CI-CD.sh
/bin/*
/bin
/badger
/badger/*
bin
alerting_logs/
*_easyjson.go

# Google OAuth Secrets
server/credentials.json
server/token.json
.env
server/.env
server/user_preferences.json
